<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>USER REGISTERATION</title>
  </head>
  <body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<center><h4> USER REGISTERATION</h4></center> 
<form action="/register/" method="post">
<div class="form-group">
{% csrf_token %}
&nbsp; &nbsp; <label for="name"><b>Name*:</b></label>
  <input type="text" class="form-control" id="name"  placeholder="Enter your name" name="name" size="20">
  </div>
  <div class="form-group">
    &nbsp; &nbsp;<label for="email"><b>Email Id*:</b></label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email" name="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>


<div class="form-group">
  <label class="col-md-4 control-label">First Name*:</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="fname" placeholder="First Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" >Last Name</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="lname" placeholder="Last Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!---<div class="form-group">
  <label class="col-md-4 control-label" >Email</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="email" placeholder="email" class="form-control"  type="email">
    </div>
  </div>
</div>-->

<div class="form-group">
 <label class="col-md-4 control-label" >DOB</label> 
     <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
 <input type="date" placeholder="enter your Date of Birth"  class="form-control" name="dob"><br>
</div>
  </div>
</div>
       
<div class="form-group"> 
  <label class="col-md-4 control-label">Health issue</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="healthissue" class="form-control selectpicker">
      <option value="">Select the health issue</option>  
       <option>Heart</option>
       <option>Lungs</option>
       <option>Eye</option>
       <option>Kidney</option>
</select>
  </div>
</div>
</div>
       

<div class="form-group"> 
  <label class="col-md-4 control-label">Enter the Interest</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="interest" class="form-control selectpicker">
      <option value="">Choose the interest</option>  
      <option>Politics</option>
      <option>ComputerScience</option>
      <option>History</option>
</select>
  </div>
</div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label">Contact No.</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="phone" placeholder="Enter your phone number" class="form-control" type="text">
    </div>
  </div>
</div>

   <div class="form-group">
    &nbsp; &nbsp;<label for="password"><b>Password*:</b></label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    &nbsp; &nbsp;<label for="cpassword"><b>ConfirmPassword*:</b></label>
    <input type="password" class="form-control" id="password" name="cpassword" placeholder="Password">
  </div>
  <center>
<button type="submit" class="btn btn-primary"><B>REGISTER</B></button></center>
</form>
<br>
<form action="/signin/" >
<center><button type="submit"class="btn btn-warning"><B>ALREADY REGISTERED?</B></button></center>
</form>
</body>
</html>