
<form action ="/updated"> 
<button type="Submit">UpdateProfile</button>
</form>
<form action ="/rec"> 
<button type="Submit">Record Add</button>
</form>
<form action ="/viewprofile"> 
<button type="Submit">View Profile</button>
</form>
<form action ="/viewrecord"> 
<button type="Submit">View Records</button>
</form>
<form action ="/pres"> 
<button type="Submit">Add Prescription</button>
</form>
<form action ="/viewpres"> 
<button type="Submit">View Prescription</button>
</form>

<form action ="/uviewemergency"> 
<button type="Submit">View Emergency</button>
</form>